# XOR
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDES
.vscode/
.idea/
*.swp

# Jupyter Notebook
.ipynb_checkpoints

# Datasets
jigsaw-toxic-comment-classification-challenge/
*.csv
*.zip
*.7z

# Models (large files)
*.h5
*.keras
*.tflite
saved_model/

# Logs
logs/
*.log
